@font-face {font-family: 'corbel'; src: url('../fonts/Corbel.ttf') format('truetype');}
@font-face {font-family: 'corbel-bold'; src: url('../fonts/Corbel Bold.ttf') format('truetype');}
@font-face {font-family: 'Eurostile LT Oblique'; src: url('../fonts/Eurostile LT Oblique.ttf') format('truetype');;}
@font-face {font-family: 'EurostileCnd-Bo'; src: url('../fonts/EurostileCnd-Bo.ttf') format('truetype');}
@font-face {font-family: 'GandhiSans-Bold'; src: url('../fonts/GandhiSans-Bold.otf') format('opentype');}
@font-face {font-family: 'GandhiSans-Regular'; src: url('../fonts/GandhiSans-Regular.otf') format('opentype');}
